.row
  - @categories.each do |category|
    .col-md-12
      .text-center
        - if category.products.present?
          = link_to categories_path(category) do
            %h2= category.title.upcase
            %hr
          - category.products[0..6].each do |product|
            .col-md-3
              .panel.panel-success
                .panel-heading
                  = link_to product_path(product) do
                    = truncate(product.title, length: 30, separator: ' ')
                .panel-body
                  .text-center
                    = link_to product_path(product) do
                      = image_tag product.image_url(:medium)
                  .text-center
                    %p
                      %strong #{product.category.title}
                    %p Price: $#{number_with_precision(product.price, precision: 2)}
                  .text-center
                    - if product.stock <= 0
                      %p Out of stock
                    - else
                      = button_to "Add to cart", buy_items_path(product, qty: 1), class: "btn btn-default"
          .text-center
            %h3
              = link_to categories_path(category) do
                More >>>
