%nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to "VENSHOP", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav
      %li
        = link_to "Shop", products_path
      %li
        = link_to cart_url do
          %span.fa.fa-shopping-cart.fa-lg
    = form_tag search_path, method: :get, class: "navbar-form navbar-left" do
      .input-group.search-box
        = text_field_tag :query, params[:query], placeholder: "Search product...", class: "form-control"
        .input-group-btn
          = submit_tag "Search", name: nil, class: "btn btn-default"
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          = link_to new_product_path do
            %span.fa.fa-plus.fa-lg
            New Product
        %li
          = link_to "#", data: { toggle: "dropdown" }, class: "dropdown-toggle", id: "dropdownMenu1", role: "button", aria: { expanded: false } do
            = current_user.email
            %span.fa.fa-caret-down
          %ul.dropdown-menu{ aria: { labelledly: "dropdownMenu1" } }
            %li= link_to "Profile", edit_user_registration_path
            %li= link_to "Your orders", orders_path
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Sign up', new_user_registration_path
        %li= link_to 'Sign in', new_user_session_path
