.row
  = render 'shared/sidebar'
  .col-md-9.row
    .col-md-12
      %h3 All products
    .col-md-12.text-right
      = paginate @products
    - @products.each do |product|
      .col-md-4
        .panel.panel-success
          .panel-heading
            = link_to product_path(product) do
              = truncate(product.title, length: 30, separator: ' ')
          .panel-body
            .text-center
              %p
                = link_to product_path(product) do
                  = image_tag product.image_url(:medium)
            .text-center
              %p
                %strong #{product.category.title}
              %p Price: $#{number_with_precision(product.price, precision: 2)}
            .text-center
              - if product.stock <= 0
                %p Out of stock
              - else
                = button_to "Add to cart", buy_items_path(product, qty: 1), class: "btn btn-default"
            - if user_signed_in?
              .pull-right
                = link_to edit_product_path(product.id) do
                  %span.fa.fa-lg.fa-pencil
                = link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do
                  %span.fa.fa-lg.fa-trash
    .col-md-12.text-right
      = paginate @products
