.row
  .col-md-6.col-md-offset-3
    %h2 New product
    = form_for @product, html: { multipart: true } do |f|
      .form-group
        = f.label "Category"
        = f.select :category_id, categories_for_select, {}, { class: "form-control" }
      .form-group
        = f.label :item_id, "Product ID"
        = f.text_field :item_id, class: "form-control"
      .form-group
        = f.label :manufacturer
        = f.text_field :manufacturer, class: "form-control"
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control"
      .form-group
        = f.label :publiscation_date, "Publiscation Date"
        = f.text_field :publiscation_date, class: "form-control", placeholder: "dd/mm/yyyy"
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
      .form-group
        = f.label :stock
        .input-group
          = f.number_field :stock, class: "form-control", step: 'any', min: 1, value: 1
      .form-group
        = f.label :price
        .input-group
          .input-group-addon $
          = f.number_field :price, class: "form-control", step: 'any', min: 0, value: 0
      .form-group
        = f.label :image, "Upload"
        = f.file_field :image
        = f.hidden_field :image_cache
      = f.submit "Create", class: "btn btn-primary"
